<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isracorporations.modernhistory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ssc_cgl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ssc_cgl"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modernhistory">
        <activity android:name=".ActivityTwo"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111" />

        <activity android:name=".index"></activity>
        <activity android:name=".ActivityOne"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>